@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.todo-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.actions > div {
  border: solid 1px rgb(209 213 219);
  flex-grow: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart {
  height: 50vh;
}

.todo-grid {
  max-height: 80vh;
  overflow-y: scroll;
}

.search-bar {
  backdrop-filter: blur(2px);
}

*::-webkit-scrollbar {
  width: 4px;
  max-width: 4px;
}

*::-webkit-scrollbar:horizontal {
  height: 3px;
  max-height: 3px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: blue;
  outline: 5x solid slategrey;
}
