@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: #e6f9af;
}

* {
  padding: 0;
  margin: 0;
}

.todo-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
}

.primary-bg {
  background-color: var(--primary-bg);
}

.icon {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  text-align: center;
}

.modal-actions > * {
  margin-right: 12px;
}
